
@font-face {
    font-family: "TurretRoad";
    src: url("/fonts/TurretRoad-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-display: swap;
}
@font-face {
    font-family: "Jura";
    src: url("/fonts/Jura-Variable.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "Raleway";
    src: url("/fonts/Raleway-Variable.ttf") format("truetype");
    font-display: swap;
}

/* @font-face {
    font-family: "OffBit";
    src: url("/fonts/OffBitTrial-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: "OffBit";
    src: url("/fonts/OffBitTrial-DotBold.ttf") format("truetype");
    font-weight: 900;
    font-display: swap;
} */

@font-face {
    font-family: "PowerGrotesk";
    src: url("/fonts/powergrotesk-regular-webfont.woff2") format("woff2"),
        url("/fonts/powergrotesk-regular-webfont.woff") format("woff");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Outfit";
    src: url("/fonts/Outfit-Variable.ttf") format("truetype");
    font-display: swap;
}
