@import "./fonts.css";
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    html,
    body {
        @apply m-0 p-0;
        overflow-x: hidden; /* Disable horizontal scrolling */
        width: 100%; /* Ensure the body doesn't exceed the viewport width */
    }
    .font-offbit {
        font-family: "OffBit", sans-serif;
    }
    .font-outfit {
        font-family: "Outfit", sans-serif;
    }
    .font-grotesk {
        font-family: "PowerGrotesk", sans-serif;
    }
    .font-artific {
        font-family: "Artific", sans-serif;
    }

    h1 {
        @apply text-6xl md:text-7xl font-semibold;
    }
    h2 {
        @apply text-3xl md:text-4xl;
    }
    h3 {
        @apply text-2xl md:text-3xl font-semibold;
    }
    h4 {
        @apply text-xl font-bold;
    }
    p {
        font-family: "PowerGrotesk", sans-serif;
        /* font-weight: 300; */
        @apply font-light text-justify text-[14px] lg:text-[16px];
    }
}

@layer components {
    *::selection {
        @apply text-[#4D8BDB];
    }
    * {
        -ms-overflow-style: none; /* Internet Explorer 10+ */
        scrollbar-width: none; /* Firefox */
    }
    *::-webkit-scrollbar {
        /* Safari and Chrome */
        display: none;
    }
    .bg-theme {
        @apply bg-gradient-to-br from-blue-50 to-indigo-100 text-gray-900
  dark:bg-none dark:bg-black dark:text-white;
    }

    .bg-theme-foreground {
        @apply bg-white/50 dark:bg-black/70;
    }
    .border-theme {
        @apply border-1 border-gray-400 dark:border-white/16;
    }
}
